<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a
      class="nav-link"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      aria-current="page"
      routerLink=""
      >Tüm Kategoriler</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/books">Books</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/programming"
      >Programming</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/gaming"
      >Gaming</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/cgi">Cgi</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/design"
      >Design</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/urunler"
      >Ürünler</a
    >
  </li>
</ul>
