<div class="carousel-container">
  <div class="carousel-content">
    <div class="cardContainer">
      <div
        class="card"
        style="width: 16rem"
        *ngFor="let item of getVisibleBooks()"
      >
        <img [src]="item.imgUrl" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ item.title }}</h5>
          <p class="card-text">{{ item.description }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="paginationButton">
    <button
      class="prev iconButton"
      (click)="prevPage()"
      [disabled]="currentPage === 1"
    >
      <i class="bi bi-caret-left-fill"></i>
    </button>
    <button
      class="next iconButton"
      (click)="nextPage()"
      [disabled]="currentPage === getTotalPages()"
    >
      <i class="bi bi-caret-right-fill"></i>
    </button>
  </div>
</div>
